Repository UB-ES-2022-A3/usArt, pull requests merged in 2022-11, with the labels that each got.

#61 Database upgrading
  usArt_backend/authentication/migrations/0002_alter_usartuser_description_alter_usartuser_photo.py
  usArt_backend/authentication/migrations/0003_alter_usartuser_id.py
  usArt_backend/authentication/models.py
  usArt_backend/authentication/serializers.py
  usArt_backend/authentication/urls.py
  usArt_backend/authentication/views.py
  usArt_backend/catalog/migrations/0002_publication_tag.py
  usArt_backend/catalog/migrations/0003_alter_publication_options_alter_publication_author_and_more.py
  usArt_backend/catalog/models.py
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_backend/media/images/f1.png
  usArt_backend/requirements.txt
  usArt_backend/usArt_backend/settings.py
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/search.jsx
Labels: enhancement, frontend, backend, refactor

#63 (Deuda Técnica) Models created
  usArt_backend/authentication/migrations/0004_remove_usartuser_is_active_and_more.py
  usArt_backend/authentication/migrations/0005_usartuser_creation_date.py
  usArt_backend/authentication/models.py
  usArt_backend/catalog/admin.py
  usArt_backend/catalog/migrations/0004_auction_alter_publication_options_and_more.py
  usArt_backend/catalog/models.py
  usArt_backend/catalog/views.py
  usArt_backend/userprofile/migrations/0002_alter_purchasehistory_options_and_more.py
  usArt_backend/userprofile/models.py
Labels: enhancement, backend, refactor

#65 Refactor catalog
  usArt_backend/.idea/.gitignore
  usArt_backend/.idea/dbnavigator.xml
  usArt_backend/.idea/inspectionProfiles/Project_Default.xml
  usArt_backend/.idea/inspectionProfiles/profiles_settings.xml
  usArt_backend/.idea/misc.xml
  usArt_backend/.idea/modules.xml
  usArt_backend/.idea/usArt_backend.iml
  usArt_backend/.idea/vcs.xml
  usArt_backend/catalog/models.py
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_backend/requirements.txt
  usArt_backend/usArt_backend/urls.py
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/search.jsx
Labels: enhancement, frontend, backend, refactor

#69 Refactor userprofile
  usArt_backend/api/urls.py
  usArt_backend/usArt_backend/settings.py
  usArt_backend/usArt_backend/urls.py
  usArt_backend/userprofile/models.py
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/search.jsx
Labels: enhancement, frontend, backend, refactor

#88 UR-5-1 crear post (autenticado) de favoritos de una publicación con el usuario
  usArt_backend/.idea/usArt_backend.iml
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
Labels: task, backend

#87 UR-15-1 Crear get (autenticado) de la compra de arte
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
Labels: task, backend

#92 AR-9-1 Crear GET de la lista de comisiones de una publicación
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
Labels: task, backend

#91 (Code Spike) Servidor de Recursos
  usArt_backend/authentication/migrations/0006_alter_usartuser_photo.py
  usArt_backend/authentication/models.py
  usArt_backend/authentication/serializers.py
  usArt_backend/catalog/migrations/0001_initial.py
  usArt_backend/catalog/migrations/0005_alter_publicationimage_image.py
  usArt_backend/catalog/models.py
  usArt_backend/requirements.txt
  usArt_backend/usArt_backend/settings.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/search.jsx
Labels: enhancement, frontend, backend, refactor

#93 Refactor: Test unitarios del modulo de autentificación
  usArt_backend/.idea/usArt_backend.iml
  usArt_backend/api/tests.py
  usArt_backend/api/views.py
Labels: backend, refactor

#107 User-Story-UR-17 Visualizar terms of service
  usArt_frontend/src/App.js
  usArt_frontend/src/components/footer.jsx
  usArt_frontend/src/components/registerForm.jsx
  usArt_frontend/src/components/termsAndConditions.jsx
Labels: task, frontend

#95 AR-9-2-3_Crear_PUT_Delete_de_la_comision
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
Labels: task, backend

#96 UR-9-3 Crear post (autenticado) de la compra de la obra de arte
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
Labels: task, backend

#102 UR-4-2 Crear metodo POST (autentificado) para pedir comisión
  usArt_backend/.idea/usArt_backend.iml
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
Labels: task, backend

#94 UR-1-2: POST de puntuar artista
  usArt_backend/.idea/usArt_backend.iml
  usArt_backend/userprofile/models.py
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
Labels: task, backend

#104 Ur 13 2 crear modelado de chat en backend
  usArt_backend/authentication/migrations/0007_alter_usartuser_photo.py
  usArt_backend/authentication/migrations/0007_idchats.py
  usArt_backend/authentication/migrations/0008_merge_0007_alter_usartuser_photo_0007_idchats.py
  usArt_backend/authentication/migrations/0009_idchats_chat.py
  usArt_backend/authentication/models.py
  usArt_backend/authentication/serializers.py
  usArt_backend/authentication/tests.py
  usArt_backend/authentication/urls.py
  usArt_backend/authentication/views.py
  usArt_backend/catalog/migrations/0006_alter_publicationimage_image.py
  usArt_backend/catalog/models.py
  usArt_backend/chats/__init__.py
  usArt_backend/chats/consumers.py
  usArt_backend/chats/routing.py
  usArt_backend/requirements.txt
  usArt_backend/usArt_backend/asgi.py
  usArt_backend/usArt_backend/settings.py
  usArt_backend/usArt_backend/urls.py
  usArt_frontend/package-lock.json
  usArt_frontend/package.json
  usArt_frontend/src/App.js
  usArt_frontend/src/components/charTest.css
  usArt_frontend/src/components/chatTest.jsx
Labels: task, backend

#108 UR-13-1 Crear la página del buzón
  usArt_frontend/src/App.js
  usArt_frontend/src/components/Message.jsx
  usArt_frontend/src/components/Messages.jsx
  usArt_frontend/src/components/SidebarChat.jsx
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/buzonGeneralStyle.css
  usArt_frontend/src/components/mainChat.jsx
  usArt_frontend/src/components/navBar.jsx
Labels: task, frontend

#103 AR2-2 Crear metodo POST (autentificado) para añadir la publicación
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
Labels: task, backend

#109 Codespike-Mejora visual
  usArt_frontend/src/components/Home.jsx
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/home.css
  usArt_frontend/src/components/loginForm.jsx
  usArt_frontend/src/components/register.css
  usArt_frontend/src/components/registerForm.jsx
Labels: enhancement, frontend, backend

#111 Deuda tecnica bug fixes
  usArt_frontend/src/App.js
  usArt_frontend/src/components/Home.jsx
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/explorerStyles.css
  usArt_frontend/src/components/search.css
  usArt_frontend/src/components/search.jsx
Labels: enhancement, frontend

#110 UR-4-1 crear botón de comisionar y el formulario
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/views.py
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#115 UR-9-1 Crear el botón de comprar arte en la publicación
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#119 UR-3-4 Crear el historial de compra del usuario registrado en el perfil
  usArt_frontend/src/assets/suchEmpty.png
  usArt_frontend/src/components/profile.css
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/registerForm.jsx
Labels: task, frontend

#122 UR-1-3: GET de la media de las reviews de un autor
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
Labels: task, backend

#124 UR-1-1 añadir el botón de puntuar artista y formulario
  usArt_backend/authentication/migrations/0007_alter_usartuser_photo.py
  usArt_backend/authentication/models.py
  usArt_backend/catalog/migrations/0006_alter_publicationimage_image.py
  usArt_backend/catalog/models.py
  usArt_backend/usArt_backend/settings.py
  usArt_frontend/src/App.js
  usArt_frontend/src/components/Home.jsx
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/explorerStyles.css
  usArt_frontend/src/components/footer.jsx
  usArt_frontend/src/components/home.css
  usArt_frontend/src/components/loginForm.jsx
  usArt_frontend/src/components/profile.css
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/register.css
  usArt_frontend/src/components/registerForm.jsx
  usArt_frontend/src/components/search.css
  usArt_frontend/src/components/search.jsx
  usArt_frontend/src/components/termsAndConditions.jsx
Labels: enhancement, task, frontend
