Repository UB-ES-2022-A3/usArt, pull requests merged in 2022-12, with the labels that each got.

#126 UR-13-3-Conectar-BE-FE
  usArt_backend/authentication/urls.py
  usArt_backend/authentication/views.py
  usArt_backend/chats/consumers.py
  usArt_frontend/src/App.js
  usArt_frontend/src/components/LINK_RESOURCES.jsx
  usArt_frontend/src/components/Message.jsx
  usArt_frontend/src/components/Messages.jsx
  usArt_frontend/src/components/SidebarChat.jsx
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/buzonGeneralStyle.css
  usArt_frontend/src/components/charTest.css
  usArt_frontend/src/components/chatTest.jsx
  usArt_frontend/src/components/mainChat.jsx
Labels: enhancement, task, frontend, backend

#128 UR-5-3 crear endpoints favoritos
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
Labels: task, backend

#127 User story ur 13
  usArt_backend/authentication/migrations/0007_idchats.py
  usArt_backend/authentication/migrations/0008_merge_0007_alter_usartuser_photo_0007_idchats.py
  usArt_backend/authentication/migrations/0009_idchats_chat.py
  usArt_backend/authentication/models.py
  usArt_backend/authentication/serializers.py
  usArt_backend/authentication/tests.py
  usArt_backend/authentication/urls.py
  usArt_backend/authentication/views.py
  usArt_backend/chats/__init__.py
  usArt_backend/chats/consumers.py
  usArt_backend/chats/routing.py
  usArt_backend/requirements.txt
  usArt_backend/usArt_backend/asgi.py
  usArt_backend/usArt_backend/settings.py
  usArt_backend/usArt_backend/urls.py
  usArt_frontend/package-lock.json
  usArt_frontend/package.json
  usArt_frontend/src/App.js
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/buzonGeneralStyle.css
  usArt_frontend/src/components/navBar.jsx
Labels: enhancement, task, frontend, backend

#131 Ur-5-2 añadir botón de favoritos en la publicación
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#130 UR-9-2 crear formulario de compra
  .github/pull_request_template.md
  .github/workflows/frontend-dev.yml
  .github/workflows/testing-dev.yml
  testing/test_e2e.py
  usArt_backend/.idea/usArt_backend.iml
  usArt_backend/api/tests.py
  usArt_backend/api/views.py
  usArt_backend/authentication/migrations/0006_alter_usartuser_photo.py
  usArt_backend/authentication/migrations/0007_alter_usartuser_photo.py
  usArt_backend/authentication/models.py
  usArt_backend/authentication/serializers.py
  usArt_backend/catalog/migrations/0001_initial.py
  usArt_backend/catalog/migrations/0005_alter_publicationimage_image.py
  usArt_backend/catalog/migrations/0006_alter_publicationimage_image.py
  usArt_backend/catalog/migrations/0007_alter_commission_pub_id_alter_commission_user_id.py
  usArt_backend/catalog/migrations/0008_remove_commission_unique_publication_user_commission_combination.py
  usArt_backend/catalog/migrations/0009_alter_commission_id_alter_commission_pub_id_and_more.py
  usArt_backend/catalog/models.py
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_backend/requirements.txt
  usArt_backend/usArt_backend/settings.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/App.js
  usArt_frontend/src/components/Home.jsx
  usArt_frontend/src/components/LINK_RESOURCES.jsx
  usArt_frontend/src/components/compra.jsx
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/explorerStyles.css
  usArt_frontend/src/components/footer.jsx
  usArt_frontend/src/components/home.css
  usArt_frontend/src/components/loginForm.jsx
  usArt_frontend/src/components/navBar.jsx
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/register.css
  usArt_frontend/src/components/registerForm.jsx
  usArt_frontend/src/components/search.css
  usArt_frontend/src/components/search.jsx
  usArt_frontend/src/components/termsAndConditions.jsx
Labels: task, frontend

#125 User story ur 1
  usArt_backend/.idea/usArt_backend.iml
  usArt_backend/userprofile/models.py
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/loginForm.jsx
  usArt_frontend/src/components/profile.css
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/registerForm.jsx
  usArt_frontend/src/components/search.jsx
Labels: task, frontend, backend

#112 User story UR-4
  testing/test_e2e.py
  usArt_backend/catalog/migrations/0007_alter_commission_pub_id_alter_commission_user_id.py
  usArt_backend/catalog/migrations/0008_remove_commission_unique_publication_user_commission_combination.py
  usArt_backend/catalog/migrations/0009_alter_commission_id_alter_commission_pub_id_and_more.py
  usArt_backend/catalog/models.py
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_backend/requirements.txt
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/loginForm.jsx
  usArt_frontend/src/components/navBar.jsx
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/registerForm.jsx
Labels: task, frontend, backend

#138 Ur 14 1 añadir el botón de editar perfil y enviar formulario
  .github/workflows/frontend-dev.yml
  usArt_backend/.idea/usArt_backend.iml
  usArt_backend/chats/routing.py
  usArt_backend/userprofile/models.py
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/App.js
  usArt_frontend/src/assets/suchEmpty.png
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/explorerStyles.css
  usArt_frontend/src/components/footer.jsx
  usArt_frontend/src/components/loginForm.jsx
  usArt_frontend/src/components/navBar.jsx
  usArt_frontend/src/components/profile.css
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/register.css
  usArt_frontend/src/components/registerForm.jsx
  usArt_frontend/src/components/search.css
  usArt_frontend/src/components/search.jsx
Labels: task, frontend, backend

#145 AR-9-4-crear-botones-de-aceptardenegar-comisión
  usArt_backend/catalog/views.py
  usArt_frontend/package-lock.json
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#146 User-Story-AR-9
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_backend/usArt_backend/settings.py
  usArt_frontend/package-lock.json
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/buzonGeneralStyle.css
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend, backend

#143 User story UR 15
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/App.js
  usArt_frontend/src/components/compra.jsx
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/purchaseDetails.jsx
Labels: frontend, backend

#148 Bug fixing chat
  usArt_backend/authentication/views.py
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/buzonGeneralStyle.css
Labels: task, frontend, backend

#158 AR-5-1 Crear método DELETE para eliminar
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
Labels: task, backend

#163 UR-2-1 Añadir boton de devolver y popup
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/purchaseDetails.jsx
Labels: task, frontend

#164 AR-5-2 Crear botón eliminar servicio
  usArt_backend/catalog/views.py
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/compra.jsx
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#166 Finalitzat POST de Bloquejar. Tots els test passen
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
Labels: task, backend

#167 AR-6-3 crear boton de bloquear usuarios
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#171 UR-8-1_Crear_modelo_de_denuncias
  usArt_backend/authentication/models.py
  usArt_backend/catalog/migrations/0010_complaint.py
  usArt_backend/catalog/models.py
  usArt_backend/catalog/views.py
  usArt_backend/userprofile/models.py
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/views.py
Labels: task, backend

#174 UR-8-2 Crear métodos para denuncias
  usArt_backend/authentication/models.py
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
Labels: task, backend

#169 UR-2-2-Enviar correo con el pedido
  usArt_frontend/src/components/purchaseDetails.jsx
Labels: task, frontend

#181 AR-7-1 Crear metodo delete
  usArt_backend/authentication/migrations/0010_idchats_id_1_active_idchats_id_2_active.py
  usArt_backend/authentication/models.py
  usArt_backend/authentication/serializers.py
  usArt_backend/authentication/urls.py
  usArt_backend/authentication/views.py
  usArt_backend/catalog/views.py
  usArt_backend/usArt_backend/settings.py
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/buzonGeneralStyle.css
Labels: task, backend

#182 AR-7-2 Añadir boton para eliminar conversación
  usArt_backend/authentication/views.py
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/buzonGeneralStyle.css
Labels: task, frontend

#183 AR-6-2 Condicion para tener en cuenta usuario bloqueado
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend, backend

#195 UR-7-1 crear frontend subasta
  usArt_backend/catalog/views.py
  usArt_frontend/src/App.js
  usArt_frontend/src/assets/auction.png
  usArt_frontend/src/components/Auction.css
  usArt_frontend/src/components/Auction.jsx
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/search.css
  usArt_frontend/src/components/search.jsx
Labels: task, frontend

#201 Usability-feature Loading feedback
  usArt_frontend/src/components/search.css
  usArt_frontend/src/components/search.jsx
Labels: enhancement

#200 UR-7-1-crear-frontend-subasta
  usArt_frontend/src/App.js
  usArt_frontend/src/assets/dribbble_1.gif
  usArt_frontend/src/components/Auction.jsx
  usArt_frontend/src/components/error.css
  usArt_frontend/src/components/error.jsx
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#184 UR-8-4 Crear metodos lista denuncias
  usArt_backend/api/serializer.py
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend, backend

#186 A-1-2 Crear front para borrar como admin una publicacion
  usArt_backend/api/serializer.py
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#178 UR-8-3 crear boton y formulario de denuncia
  .github/workflows/testing-dev.yml
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_frontend/src/components/compra.jsx
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
Labels: task, frontend

#206 User Story A-1
  usArt_backend/api/serializer.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_frontend/src/components/publicacion.jsx
Labels: backend

#203 User story A-2: Banear usuario
  usArt_backend/api/serializer.py
  usArt_backend/authentication/models.py
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/profile.css
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/context/authcontext.js
Labels: enhancement

#207 User Story UR-8
  usArt_backend/authentication/models.py
  usArt_backend/catalog/migrations/0010_complaint.py
  usArt_backend/catalog/models.py
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_backend/userprofile/models.py
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
Labels: frontend, backend

#208 Fixed texts
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/navBar.jsx
  usArt_frontend/src/components/search.jsx
Labels: hot fix

#205 User story UR-2
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/purchaseDetails.jsx
Labels: enhancement, frontend, backend

#192 User story AR-6
  usArt_backend/userprofile/serializers.py
  usArt_backend/userprofile/tests.py
  usArt_backend/userprofile/urls.py
  usArt_backend/userprofile/views.py
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.jsx
Labels: frontend, backend

#204 User story UR-7
  usArt_backend/authentication/views.py
  usArt_backend/catalog/serializers.py
  usArt_backend/catalog/tests.py
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_frontend/src/App.js
  usArt_frontend/src/assets/auction.png
  usArt_frontend/src/assets/dribbble_1.gif
  usArt_frontend/src/components/Auction.css
  usArt_frontend/src/components/Auction.jsx
  usArt_frontend/src/components/buzonChat.jsx
  usArt_frontend/src/components/error.css
  usArt_frontend/src/components/error.jsx
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/search.css
  usArt_frontend/src/components/search.jsx
Labels: enhancement

#210 User story AR-4
  usArt_backend/catalog/urls.py
  usArt_backend/catalog/views.py
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.css
  usArt_frontend/src/components/publicacion.jsx
Labels: enhancement, frontend, backend

#211 Hot fix, best bid was not updating
  usArt_frontend/src/components/Auction.jsx
Labels: hot fix

#209 Usability-feature Autologin after registration and register always register you solved
  usArt_backend/authentication/migrations/0011_alter_usartuser_email.py
  usArt_backend/authentication/models.py
  usArt_frontend/src/components/registerForm.jsx
  usArt_frontend/src/context/authcontext.js
Labels: enhancement, hot fix

#214 E2e testing user stories
  testing/test_e2e.py
  usArt_frontend/src/components/Home.jsx
  usArt_frontend/src/components/explorer.jsx
  usArt_frontend/src/components/footer.jsx
  usArt_frontend/src/components/navBar.jsx
  usArt_frontend/src/components/profile.jsx
  usArt_frontend/src/components/publicacion.jsx
  usArt_frontend/src/components/purchaseDetails.jsx
  usArt_frontend/src/components/search.jsx
Labels: enhancement, frontend
